body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0 0 20px;
    color: #333;
}

h2 {
    margin: 10px 0;
    color: #666;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    text-align: center;
}

input[type="submit"] {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#resultContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#resultfield {
    font-size: 18px;
    color: #333;
}
